<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="user" class="org.zk.domain.UserFactoryBean" lazy-init="true">-->
    <!--</bean>-->

    <bean id="user" class="org.zk.domain.User" lazy-init="true">
        <constructor-arg name="id" value="100"></constructor-arg>
        <constructor-arg name="username" value="zk"></constructor-arg>
    </bean>

    <!--<bean id="userService" class="org.zk.service.UserService" lazy-init="true">-->
        <!--<lookup-method bean="user" name="getNewUser"></lookup-method>-->
    <!--</bean>-->

</beans>



