<?xml version="1.0" encoding= "UTF-8"?>
<configuration>

    <!-- 控制台日志 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%5p [%-40.40c{39}] [%thread] %4L - %m%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- hibernate sql -->
    <logger name="org.hibernate.SQL" level="debug"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace"/>

    <!-- jpa事务 -->
    <logger name="org.springframework.orm.jpa.JpaTransactionManager" level="debug"/>
    <logger name="org.hibernate.engine.jdbc.internal.LogicalConnectionImpl" level="debug"/>
    <logger name="org.hibernate.engine.transaction.internal.jdbc.JdbcTransaction" level="debug"/>


</configuration>
